doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    //link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='/stylesheets/char.css')
    //<link href="../../../../../../../menudrop/stylesheets/menu.css" rel="stylesheet" type="text/css"/>
    //<link href="../../../../../../../stylesheets/skelete.css" rel="stylesheet" type="text/css"/>
    <link href="../../../../../../../menudrop/nav-menu/menu/style.css" rel="stylesheet" type="text/css"/>
    //<link href="../../../../../../../stylesheets/skelete.css" rel="stylesheet" type="text/css"/>
    
     
  body
    div(class='container-fluid')
      
      div(class='row')

            <nav id="nav">
                <ul id="navigation">
                    <li><a href="/catalog" class="first">Home</a></li>
                    
                    <li><a href="#">Training &raquo;</a>
                        <ul>
                            <li>
                                a(href='/catalog/training/athlete/' + athleteId + '/sessions' ) Training
                            </li>
                            <li>
                                a(href='/catalog/training/athlete/' + athleteId + '/training/objectives') Objectives
                            </li>
                            
                        </ul>
                    </li>
                    <li><a href="#">Video &raquo;</a>
                        <ul>
                            <li>
                                a(href='/video/athlete/' + athleteId + '/videos' ) List
                            </li>
                            <li>
                                a(href='/video/athlete/' + athleteId + '/add' ) Add
                            </li>
                            <li>
                                a(href='/video/athlete/' + athleteId + '/query' ) Query2
                            </li>
                            <li>
                                a(href='/pubsub/athlete/' + athleteId + '/applichat/test/panel' ) Chat

                            </li>

                             
                             
                        </ul>
                    </li>
                    
                    <li>
                        a(href='#') #{title}
                        <ul>
                                <li>
                                    a(href='/catalog/training/athlete/' + athleteId + '/disconnect') disconnect
                                </li>    
                                <li>    
                                    a(href='/catalog/training/athlete/' + athleteId + '/training/detail') properties

                                     
                        </ul>
                             
                   
                    </li>  
               
                    <li>
                        
                            <div style="position: relative; height: 42px; width: 42px">
                                <img SRC="/cache/photo/#{athleteId}.png" ALT="Texte remplaçant l'image" TITLE="Texte à afficher" style="width:100%;height:100%">    
                                
                        
                    </li>
                     
                </ul>
            </nav>
      div(class='row')
             div(class='col-sm-12')
             div(class='col-sm-12')
             div(class='col-sm-12')
             div(class='col-sm-12')
             div(class='col-sm-12')
             div(class='col-sm-12')
             div(class='col-sm-12')
             div(class='col-sm-12')
      div(class='row')
      
            <nav id="nav">
                <ul id="navigation">
                     
                    <li> 
                        a(href='/catalog/training/athlete/' + athleteId + '/session/' + sessionId + '/objectives') Calendar 
                    </li>     
                    <li> 
                        a(href='/catalog/training/athlete/' + athleteId + '/session/' + sessionId + '/objective') New Training 
                    </li>
                    
                    <li>
                        a(href='/catalog/training/athlete/' + athleteId + '/session/' + sessionId + '/objectives/waiting') Training to be Close
                        
                    </li>  
               
                    
                     
                </ul>
            </nav>
      
      
      
       
      div(class='corps')  
      
           
         
             
             
          div(class='row')
             
            div(class='col-sm-4')
            
                block sidebar
                    ul(class='sidebar-nav')
                      
                      li 
                        a(href='/catalog/training/athlete/' + athleteId + '/sessions') #[strong Explore Training]
                      li 
                        a(href='/catalog/training/athlete/' + athleteId + '/training/objectives/create') Create an Objective
                      li 
                        a(href='/catalog/training/athlete/' + athleteId + '/training/objectives') Objectives List
                      li 
                        a(href='/catalog/training/athlete/' + athleteId + '/training/objectives/planning') My Planning
                      li
                        hr
                      
                      
                  
            div(class='col-sm-8')
              block content
              
             
            <link href="../../../../../../../menudrop/stylesheets/main.css" rel="stylesheet" type="text/css"/>
            script(src='../../../../../../../menudrop/doubletaptogo.js')
             
            script.

             
                fatherOnLoad = function () {
                //window.onload = function () {
                
                    $( '#nav li:has(ul)' ).doubleTapToGo();
                    
                };
                     